%p#notice= notice

%h1.text-center.display-3.fw-bold
  %b Board:
  %span= @game_board.name

%div.container-xxl
  %p
    %b Number of Columns:
    = @game_board.width
  %p
    %b Number of Rows:
    = @game_board.height
  %p
    %b Number of Bombs:
    = @game_board.bomb_amount
  %p
    %b Email:
    = @game_board.email

  %div.gameContainer
    %div.gameTable
      - @game_board.board.each do |row|
        %div.boardRow
          - row.each do |cell|
            %div.boardSquare.borderedSquare{ 
            data: { bomb: cell["bomb"] ? 'true' : 'false', attached_bombs: cell["attached_bombs"], revealed: cell["revealed"] }, 
            class: (cell["revealed"] ? "revealed" : "") 
          }
              %span ⬜


  = link_to 'Back to Home page', root_path, class: 'btn btn-primary mt-3'
